*{
    padding:0 ;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(255, 253, 253);
}

.form{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.table , .form{
    background-color: #b3c6db
}
td{
    border-bottom: 1px solid rgb(209, 208, 208);
}